body {
    background-color: aqua;
    font-family: Georgia;
}

body h1 {
    font-family: comic sans ms;
    font-size: 60px;
    color: darkblue
}

body h4 {
    text-align: right;
    font-style: italic;
}

body p {
    text-align: justify;
}